
<div class="centering_div">
    <div class="artist_info">
        <h1>Artists</h1>
        <div>
        <%= button_to 'Add Artist', new_artist_path, method: :get %>
        </div>
        <ul>
            <% @artists.each do |artist| %>
                <li>
                    <%= link_to "#{artist.name}  ||  #{artist.location}", artist_path(artist) %>
                </li>
            <% end %>
        </ul>
    </div>
</div>