/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 * {
    font-family: poppins;
    background-color: bisque;
 }
 

.topnav {
   background-color: #1abc9c;
   overflow: hidden;
 }
 
 /* Style the links inside the navigation bar */
 .topnav a {
   float: left;
   color: #f2f2f2;
   background-color: #1abc9c;
   text-align: center;
   padding: 14px 16px;
   text-decoration: none;
   font-size: 17px;
 }

 #right_nav {
   float: right;
 }

 #title{
   flex: auto;
   text-align: center;
}
 
 /* Change the color of links on hover */
 .topnav a:hover {
   background-color: #ddd;
   color: black;
 }
 
 /* Add a color to the active/current link */
 .topnav a.active {
   background-color: #4CAF50;
   color: white;
 }


 .center_div{
   margin-top: 10px;
   width: 100%;
   display: flex;
   justify-content: center;

}

.index_info {
   margin: 10px;
   display: flex;
   flex-direction: column;
   justify-content: center;
   border-style: solid;
   width: 30%;
   align-items: center;
   border-radius: 25px;
}

.footer {
   position: fixed;
   left: 0;
   bottom: 0;
   width: 100%;
   background-color: #1abc9c;
   color: white;
   text-align: center;
 }

 #footer_text {
  background-color:  #1abc9c;
 }