// Place all the styles related to the shows controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

.centering_div{
    width: 100%;
    display: flex;
    justify-content: center;

}

.show_info {
    margin: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-style: solid;
    width: 30%;
    align-items: center;
    border-radius: 25px;
    
}

.show_flyer {
    display: flex;
    justify-content: center;
    width: 100%;
}

#flyer {
   display: block;
  max-width:500px;
  max-height:800px;
  width: auto;
  height: auto;
}