<h1>Recent Shows</h1>

<% @shows.each do |show| %>
<div>
    <ul>
        <li>
            <%= link_to "#{show.date} -- #{show.venue.name} -- #{show.artist.name}, #{show.artist2}, #{show.artist3}...", show_path(show)  %>
        </li>
    </ul>
</div>


<% end %>