<h1>notaflof</h1>
<h2>no one turned away for lack of funds: a DIY venue/show repository</h2>
<hr>

<div>
    <%= button_to 'Venues', venues_path, method: :get %> <br>
    <%= button_to 'Artists', artists_path, method: :get %> <br>
    <%= button_to 'Shows', shows_path, method: :get %> <br>
</div>