

<div class="center_div">
    <div class="index_info">
       
        <h1>notaflof</h1>
        <h2>no one turned away for lack of funds</h2>
        <h2>a DIY show/venue repository</h2>
        <hr>

        <div>
            <%= button_to 'Venues', venues_path, method: :get %> <br>
            <%= button_to 'Artists', artists_path, method: :get %> <br>
            <%= button_to 'Shows', shows_path, method: :get %> <br>
        </div>

    </div>
</div>